<p>
  flash-cards works!
</p>


<div *ngIf="flashCards">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{flashCards[cardCounter].payload.doc.data().data.question}}</h5>
          <p *ngIf="getAnswerToggle" class="card-text"> {{flashCards[0].payload.doc.data().data.answer}}</p>
          <button (click)="getAnswer()" href="#" class="btn btn-primary">Válasz</button>
          <div>
             <ion-icon (click)="confidenceDecrement()" class="remove" name="remove"></ion-icon>
          <ion-icon (click)="confidenceIncrement()" class="add" name="add"></ion-icon>
          </div>

          <!-- <button (click)="confidenceIncrement()" class="btn btn-primary">Tudtam</button>
          <button (click)="confidenceDecrement()" class="btn btn-primary">Nem tudtam</button> -->
        </div>
      </div>
</div>
